*.iml
*.ipr
*.iws
*.log
.classpath
.project
target/
build/
logs/
node*/
.idea/
.gradle/
coverage/
classes/
out/
src/main/resources/app.properties

# Primer config directory - Do not remove and leave as the last line in .gitignore
!.primer

# Ignore Mac DS_Store finder files
.DS_Store